body {
  background-color: rgb(76, 0, 255);
  font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px #25252579;
}
#formulario {
    position:relative;
}
footer {
    text-align: center;
    color: aliceblue;
    font-style: italic;
}